In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
train_df=pd.read_csv('train.csv')
test_df=pd.read_csv('test.csv')

In [3]:
train_df.head()

,Customer Id,Artist Name,Artist Reputation,Height,Width,Weight,Material,Price Of Sculpture,Base Shipping Price,International,Express Shipment,Installation Included,Transport,Fragile,Customer Information,Remote Location,Scheduled Date,Delivery Date,Customer Location,Cost
0,fffe3900350033003300,Billy Jenkins,0.26,17.0,6.0,4128.0,Brass,13.91,16.27,Yes,Yes,No,Airways,No,Working Class,No,06/07/15,06/03/15,"New Michelle, OH 50777",-283.29
1,fffe3800330031003900,Jean Bryant,0.28,3.0,3.0,61.0,Brass,6.83,15.00,No,No,No,Roadways,No,Working Class,No,03/06/17,03/05/17,"New Michaelport, WY 12072",-159.96
2,fffe3600370035003100,Laura Miller,0.07,8.0,5.0,237.0,Clay,4.96,21.18,No,No,No,Roadways,Yes,Working Class,Yes,03/09/15,03/08/15,"Bowmanshire, WA 19241",-154.29
3,fffe350031003300,Robert Chaires,0.12,9.0,NaN,NaN,Aluminium,5.81,16.31,No,No,No,NaN,No,Wealthy,Yes,05/24/15,05/20/15,"East Robyn, KY 86375",-161.16
4,fffe3900320038003400,Rosalyn Krol,0.15,17.0,6.0,324.0,Aluminium,3.18,11.94,Yes,Yes,Yes,Airways,No,Working Class,No,12/18/16,12/14/16,"Aprilside, PA 52793",-159.23

In [4]:
test_df.head()

,Customer Id,Artist Name,Artist Reputation,Height,Width,Weight,Material,Price Of Sculpture,Base Shipping Price,International,Express Shipment,Installation Included,Transport,Fragile,Customer Information,Remote Location,Scheduled Date,Delivery Date,Customer Location
0,fffe3400310033003300,James Miller,0.35,53.0,18.0,871.0,Wood,5.98,19.11,Yes,Yes,No,Airways,No,Working Class,No,07/03/17,07/06/17,"Santoshaven, IA 63481"
1,fffe3600350035003400,Karen Vetrano,0.67,7.0,4.0,108.0,Clay,6.92,13.96,No,No,No,Roadways,Yes,Working Class,No,05/02/16,05/02/16,"Ericksonton, OH 98253"
2,fffe3700360030003500,Roseanne Gaona,0.61,6.0,5.0,97.0,Aluminium,4.23,13.62,Yes,No,No,Airways,No,Working Class,No,01/04/18,01/06/18,APO AP 83453
3,fffe350038003600,Todd Almanza,0.14,15.0,8.0,757.0,Clay,6.28,23.79,No,Yes,No,Roadways,Yes,Wealthy,No,09/14/17,09/17/17,"Antonioborough, AL 54778"
4,fffe3500390032003500,Francis Rivero,0.63,10.0,4.0,1673.0,Marble,4.39,17.83,No,Yes,Yes,Roadways,No,Working Class,Yes,12/03/17,12/02/17,"Lake Frances, LA 03040"

In [5]:
train_df.isnull().sum()

Customer Id                 0
Artist Name                 0
Artist Reputation         750
Height                    375
Width                     584
Weight                    587
Material                  764
Price Of Sculpture          0
Base Shipping Price         0
International               0
Express Shipment            0
Installation Included       0
Transport                1392
Fragile                     0
Customer Information        0
Remote Location           771
Scheduled Date              0
Delivery Date               0
Customer Location           0
Cost                        0
dtype: int64

In [6]:
test_df.isnull().sum()

Customer Id                0
Artist Name                0
Artist Reputation        222
Height                   119
Width                    141
Weight                   149
Material                   0
Price Of Sculpture         0
Base Shipping Price        0
International              0
Express Shipment           0
Installation Included      0
Transport                232
Fragile                    0
Customer Information       0
Remote Location            0
Scheduled Date             0
Delivery Date              0
Customer Location          0
dtype: int64

In [7]:
train_Y = train_df['Cost'].abs()
train_X = train_df.drop(['Cost'],axis=1)

In [8]:
train_X=train_X.drop(['Customer Id', 'Scheduled Date','Delivery Date', 'Artist Name', 'Customer Location', 'Transport'],axis=1)
test_X=test_df.drop(['Customer Id', 'Scheduled Date','Delivery Date', 'Artist Name', 'Customer Location', 'Transport'],axis=1)

In [9]:
def impute_nan_most_frequent_category(DataFrame,ColName):
    # .mode()[0] - gives first category name
     most_frequent_category=DataFrame[ColName].mode()[0]
    
    # replace nan values with most occured category
     DataFrame[ColName + "_Imputed"] = DataFrame[ColName]
     DataFrame[ColName + "_Imputed"].fillna(most_frequent_category,inplace=True)

In [10]:
for Columns in ['Material', 'Remote Location']:
    impute_nan_most_frequent_category(train_X,Columns)
    impute_nan_most_frequent_category(test_X,Columns)

In [11]:
train_X[['Material','Material_Imputed','Remote Location','Remote Location_Imputed']].head(10)

    Material Material_Imputed Remote Location Remote Location_Imputed
0      Brass            Brass              No                      No
1      Brass            Brass              No                      No
2       Clay             Clay             Yes                     Yes
3  Aluminium        Aluminium             Yes                     Yes
4  Aluminium        Aluminium              No                      No
5       Wood             Wood              No                      No
6      Brass            Brass              No                      No
7       Clay             Clay              No                      No
8       Clay             Clay             Yes                     Yes
9     Marble           Marble              No                      No

In [12]:
##Drop actual columns
train_X = train_X.drop(['Material', 'Remote Location'], axis = 1)
test_X = test_X.drop(['Material', 'Remote Location'], axis = 1)

In [9]:
train_X['Material'].fillna(train_X['Material'].mode()[0],inplace=True)
test_X['Material'].fillna(test_X['Material'].mode()[0],inplace=True)
train_X['Material'].fillna(train_X['Remote Location'].mode()[0],inplace=True)
test_X['Material'].fillna(test_X['Remote Location'].mode()[0],inplace=True)

In [25]:
train_X['Material_Imputed']

0           Brass
1           Brass
2            Clay
3       Aluminium
4       Aluminium
          ...
6495        Brass
6496        Brass
6497         Clay
6498        Stone
6499        Brass
Name: Material_Imputed, Length: 6500, dtype: object

In [13]:
# Get list of categorical variables
s = (train_X.dtypes == 'object')
object_cols = list(s[s].index)

print("Categorical variables:")
print(object_cols)

Categorical variables:
['International', 'Express Shipment', 'Installation Included', 'Fragile', 'Customer Information', 'Material_Imputed', 'Remote Location_Imputed']

In [14]:
from sklearn.preprocessing import LabelEncoder

# Make copy to avoid changing original data 
label_X_train = train_X.copy()
label_X_test = test_X.copy()

In [15]:
# Apply label encoder to each column with categorical data
label_encoder = LabelEncoder()
for col in object_cols:
    label_X_train[col] = label_encoder.fit_transform(train_X[col])
    label_X_test[col] = label_encoder.transform(test_X[col])

In [16]:
from sklearn.impute import SimpleImputer

# Imputation
my_imputer = SimpleImputer()
imputed_X_train = pd.DataFrame(my_imputer.fit_transform(label_X_train))
imputed_X_test = pd.DataFrame(my_imputer.transform(label_X_test))

# Imputation removed column names; put them back
imputed_X_train.columns = train_X.columns
imputed_X_test.columns = test_X.columns

In [17]:
import sklearn
scaler = sklearn.preprocessing.StandardScaler()

X_train = pd.DataFrame(scaler.fit_transform(imputed_X_train), columns=imputed_X_train.columns)
X_test = pd.DataFrame(scaler.transform(imputed_X_test), columns=imputed_X_test.columns)

In [41]:
import xgboost as xg
xgb_r = xg.XGBRegressor(objective ='reg:squarederror',learning_rate=0.01, max_depth=8, colsample_bytree=0.5,
             n_estimators=150,seed=123, min_child_weight=3)

In [42]:
xgb_r.fit(X_train, train_Y)

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=0.5, gamma=0, gpu_id=-1,
             importance_type='gain', interaction_constraints='',
             learning_rate=0.01, max_delta_step=0, max_depth=8,
             min_child_weight=3, missing=nan, monotone_constraints='()',
             n_estimators=150, n_jobs=0, num_parallel_tree=1,
             objective='reg:squarederror', random_state=123, reg_alpha=0,
             reg_lambda=1, scale_pos_weight=1, seed=123, subsample=1,
             tree_method='exact', validate_parameters=1, verbosity=None)

In [43]:
xbg_y_pred=xgb_r.predict(X_test)

In [44]:
xbg_y_pred

array([5.4428125e+02, 3.5114071e+01, 7.6419579e+01, ..., 3.7916269e+02,
       1.9319530e+02, 5.2382547e+04], dtype=float32)

In [37]:
xgb_r.score

<bound method RegressorMixin.score of XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, gamma=0, gpu_id=-1,
             importance_type='gain', interaction_constraints='',
             learning_rate=0.300000012, max_delta_step=0, max_depth=6,
             min_child_weight=1, missing=nan, monotone_constraints='()',
             n_estimators=10, n_jobs=0, num_parallel_tree=1,
             objective='reg:linear', random_state=123, reg_alpha=0,
             reg_lambda=1, scale_pos_weight=1, seed=123, subsample=1,
             tree_method='exact', validate_parameters=1, verbosity=None)>

In [28]:
from sklearn.model_selection import RandomizedSearchCV

In [19]:
param_grid = [
{'n_estimators': [50,100,250,500], 
 'max_depth': [10, 50, 100], 'bootstrap': [True, False]}
]

In [26]:
param_dist = {'n_estimators': [50,100,150,250,500,1000],
              'learning_rate': [0.01, 0.6],
              'subsample': [0.3, 0.9],
              'max_depth': [3, 4, 5, 6, 7, 8, 9],
              'colsample_bytree': [0.5, 0.9],
              'min_child_weight': [1, 2, 3, 4]
             }

In [29]:
random_search_forest = RandomizedSearchCV(xgb_r, param_dist, cv=10)
random_search_forest.fit(X_train, train_Y)
random_search_forest.best_estimator_

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=0.5, gamma=0, gpu_id=-1,
             importance_type='gain', interaction_constraints='',
             learning_rate=0.01, max_delta_step=0, max_depth=8,
             min_child_weight=3, missing=nan, monotone_constraints='()',
             n_estimators=150, n_jobs=0, num_parallel_tree=1,
             objective='reg:squarederror', random_state=123, reg_alpha=0,
             reg_lambda=1, scale_pos_weight=1, seed=123, subsample=0.9,
             tree_method='exact', validate_parameters=1, verbosity=None)

In [18]:
from sklearn.ensemble import RandomForestRegressor
rf = RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=50, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=500, n_jobs=None, oob_score=False,
                      random_state=None, verbose=0, warm_start=False)

In [19]:
rf.fit(X_train, train_Y)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=50, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=500, n_jobs=None, oob_score=False,
                      random_state=None, verbose=0, warm_start=False)

In [22]:
y_pred=rf.predict(X_test)

In [40]:
rf.score(X_train, train_Y)

0.8948472820162505

In [23]:
y_pred

array([   265.15472,    292.98636,    208.21518, ...,   1109.12316,
          279.01302, 164196.6515 ])

In [24]:
from sklearn.metrics import r2_score, confusion_matrix

In [39]:
r2_score(X_test, y_pred)

ValueError: y_true and y_pred have different number of output (13!=1)

In [ ]:
data = pd.DataFrame((zip(test_cust_id,pred)),columns=['Customer Id','Cost'])

In [22]:
df=pd.DataFrame()

In [45]:
df['Customer Id'] = test_df['Customer Id']
df['Cost'] = xbg_y_pred
df['Cost'] = df['Cost'].abs()

In [46]:
df.to_csv('output.csv',index=False)

In [9]:
map_dict={'Yes': 0, 'No':1}

In [10]:
train_df['International']=train_df['International'].map(map_dict)
train_df['Express Shipment']=train_df['Express Shipment'].map(map_dict)
train_df['Installation Included']=train_df['Installation Included'].map(map_dict)
train_df['Fragile']=train_df['Fragile'].map(map_dict)
train_df['Remote Location']=train_df['Remote Location'].map(map_dict)

C:\Users\anand\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\anand\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\anand\anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\anand\anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\Users\anand\anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [11]:
train_df['Transport'].unique()

array(['Airways', 'Roadways', nan, 'Waterways'], dtype=object)

In [12]:
t=train_df['Transport']
for i in range(len(t)):
    if pd.isna(t[i]):
        t[i]='Walk'

C:\Users\anand\anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\Users\anand\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3331: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  exec(code_obj, self.user_global_ns, self.user_ns)

In [13]:
train_df['Transport']=t

C:\Users\anand\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [14]:
map_dict_trans={'Airways':0, 'Roadways':2, 'Walk': 3, 'Waterways':1}

In [15]:
train_df['Transport']=train_df['Transport'].map(map_dict_trans)

C:\Users\anand\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [16]:
train_df['Customer Information'].unique()

array(['Working Class', 'Wealthy'], dtype=object)

In [17]:
train_df['Material'].unique()

array(['Brass', 'Clay', 'Aluminium', 'Wood', 'Marble', 'Bronze', 'Stone',
       nan], dtype=object)

In [18]:
c_info=train_df['Material']
for i in range(len(c_info)):
    if pd.isna(c_info[i]):
        c_info[i]='Plastic'

C:\Users\anand\anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [19]:
map_dict_c_info={'Working Class':0, 'Wealthy':1}
map_dict_mat={'Brass':0, 'Clay':1, 'Aluminium':2, 'Wood':3, 'Marble':4, 'Bronze':5, 'Stone':6, 'Plastic':7}

In [20]:
train_df['Material']=train_df['Material'].map(map_dict_mat)
train_df['Customer Information']=train_df['Customer Information'].map(map_dict_c_info)

C:\Users\anand\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\anand\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [21]:
cust_id=train_df['Customer Id']
train_df=train_df.iloc[:,1:]

In [45]:
test_df

,Height,Width,Weight,Material,Price Of Sculpture,Base Shipping Price,International,Express Shipment,Installation Included,Transport,Fragile,Customer Information,Remote Location,Scheduled Date,Delivery Date,Days
0,53.0,18.0,871.0,3,5.98,19.11,0,0,1,0,1,0,1,2017-07-03,2017-07-06,3
1,7.0,4.0,108.0,1,6.92,13.96,1,1,1,2,0,0,1,2016-05-02,2016-05-02,0
2,6.0,5.0,97.0,2,4.23,13.62,0,1,1,2,1,0,1,2018-01-04,2018-01-06,2
3,15.0,8.0,757.0,1,6.28,23.79,1,0,1,3,0,1,1,2017-09-14,2017-09-17,3
4,10.0,4.0,1673.0,4,4.39,17.83,1,0,0,0,1,0,0,2017-12-03,2017-12-02,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3495,13.0,6.0,23511.0,4,78.01,88.70,1,0,1,1,1,1,1,2016-02-09,2016-02-09,0
3496,29.0,14.0,2929.0,5,214.85,80.28,0,0,1,2,1,1,1,2018-11-26,2018-11-30,4
3497,12.0,6.0,2929.0,0,8.91,19.58,1,1,0,3,1,0,1,2017-04-01,2017-04-02,1
3498,17.0,9.0,565.0,2,6.75,10.89,1,0,0,0,1,1,1,2017-06-28,2017-06-28,0
3499,25.0,11.0,989903.0,6,4768.42,31.38,1,0,1,2,1,0,1,2019-02-19,2019-02-15,-4

In [23]:
train_df['Height'].fillna((train_df['Height'].mean()), inplace=True)

In [24]:
train_df['Width'].fillna((train_df['Width'].mean()), inplace=True)

In [25]:
train_df['Weight'].fillna((train_df['Weight'].median()), inplace=True)

In [26]:
train_df['Scheduled Date']= pd.to_datetime(train_df['Scheduled Date'])

In [27]:
train_df['Delivery Date']= pd.to_datetime(train_df['Delivery Date'])

In [28]:
train_df['Days'] = train_df['Delivery Date'].sub(train_df['Scheduled Date'], axis=0)

In [29]:
train_df['Days']=train_df['Days'].dt.days

In [31]:
train_df=train_df.iloc[:,:13]

In [32]:
train_df['Remote Location'].fillna((train_df['Remote Location'].median()), inplace=True)

In [33]:
train_df.isnull().sum()

Height                   0
Width                    0
Weight                   0
Material                 0
Price Of Sculpture       0
Base Shipping Price      0
International            0
Express Shipment         0
Installation Included    0
Transport                0
Fragile                  0
Customer Information     0
Remote Location          0
dtype: int64

In [48]:
from sklearn.ensemble import RandomForestRegressor

In [49]:
regr = RandomForestRegressor(max_depth=16, random_state=0)

In [50]:
regr.fit(train_df,train_df_test)

C:\Users\anand\anaconda3\lib\site-packages\ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=16, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=100, n_jobs=None, oob_score=False,
                      random_state=0, verbose=0, warm_start=False)

In [52]:
pred=regr.predict(test_df)

In [53]:
from sklearn.metrics import r2_score, confusion_matrix

In [55]:
regr.score(train_df, train_df_test)

0.8865815539455156

In [60]:
for i in range(len(pred)):
    if pred[i]<0:
        pred[i]=0

In [61]:
data = pd.DataFrame((zip(test_cust_id,pred)),columns=['Customer Id','Cost'])

In [62]:
data

               Customer Id          Cost
0     fffe3400310033003300    234.520653
1     fffe3600350035003400    119.626841
2     fffe3700360030003500    134.431685
3         fffe350038003600    285.028292
4     fffe3500390032003500    209.913309
...                    ...           ...
3495  fffe3200300037003100   2862.403559
3496      fffe390031003100   1773.064481
3497  fffe3200350031003700    490.934110
3498  fffe3100380031003000    279.447212
3499  fffe3200340037003300  33301.639111

[3500 rows x 2 columns]

In [30]:
df.to_csv('output.csv',index= False)

In [34]:
test_df.isnull().sum()

Customer Id                0
Artist Name                0
Artist Reputation        222
Height                   119
Width                    141
Weight                   149
Material                   0
Price Of Sculpture         0
Base Shipping Price        0
International              0
Express Shipment           0
Installation Included      0
Transport                232
Fragile                    0
Customer Information       0
Remote Location            0
Scheduled Date             0
Delivery Date              0
Customer Location          0
dtype: int64

In [35]:
test_df=test_df[['Customer Id', 'Height', 'Width', 'Weight', 'Material', 'Price Of Sculpture', 
                  'Base Shipping Price', 'International', 'Express Shipment','Installation Included',
                  'Transport','Fragile', 'Customer Information','Remote Location', 'Scheduled Date','Delivery Date']]

In [36]:
test_df['International']=test_df['International'].map(map_dict)
test_df['Express Shipment']=test_df['Express Shipment'].map(map_dict)
test_df['Installation Included']=test_df['Installation Included'].map(map_dict)
test_df['Fragile']=test_df['Fragile'].map(map_dict)
test_df['Remote Location']=test_df['Remote Location'].map(map_dict)

C:\Users\anand\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\anand\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\anand\anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\anand\anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\Users\anand\anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [37]:
test_df['Height'].fillna((test_df['Height'].mean()), inplace=True)
test_df['Width'].fillna((test_df['Width'].mean()), inplace=True)
test_df['Weight'].fillna((test_df['Weight'].median()), inplace=True)

C:\Users\anand\anaconda3\lib\site-packages\pandas\core\generic.py:6245: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)

In [38]:
t_test=test_df['Transport']
for i in range(len(t_test)):
    if pd.isna(t_test[i]):
        t_test[i]='Walk'

C:\Users\anand\anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\Users\anand\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3331: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  exec(code_obj, self.user_global_ns, self.user_ns)

In [39]:
test_df['Transport']=t
map_dict_trans={'Airways':0, 'Roadways':2, 'Walk': 3, 'Waterways':1}
test_df['Transport']=test_df['Transport'].map(map_dict_trans)

C:\Users\anand\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\anand\anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [40]:
test_df['Material']=test_df['Material'].map(map_dict_mat)

C:\Users\anand\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [41]:
test_df['Customer Information']=test_df['Customer Information'].map(map_dict_c_info)

C:\Users\anand\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [42]:
test_df['Scheduled Date']= pd.to_datetime(test_df['Scheduled Date'])
test_df['Delivery Date']= pd.to_datetime(test_df['Delivery Date'])
test_df['Days'] = test_df['Delivery Date'].sub(test_df['Scheduled Date'], axis=0)
test_df['Days']=test_df['Days'].dt.days

C:\Users\anand\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\anand\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\anand\anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\anand\anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [44]:
test_cust_id=test_df['Customer Id']
test_df=test_df.iloc[:,1:]

In [46]:
test_df=test_df.iloc[:,:13]

In [47]:
test_df

,Height,Width,Weight,Material,Price Of Sculpture,Base Shipping Price,International,Express Shipment,Installation Included,Transport,Fragile,Customer Information,Remote Location
0,53.0,18.0,871.0,3,5.98,19.11,0,0,1,0,1,0,1
1,7.0,4.0,108.0,1,6.92,13.96,1,1,1,2,0,0,1
2,6.0,5.0,97.0,2,4.23,13.62,0,1,1,2,1,0,1
3,15.0,8.0,757.0,1,6.28,23.79,1,0,1,3,0,1,1
4,10.0,4.0,1673.0,4,4.39,17.83,1,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3495,13.0,6.0,23511.0,4,78.01,88.70,1,0,1,1,1,1,1
3496,29.0,14.0,2929.0,5,214.85,80.28,0,0,1,2,1,1,1
3497,12.0,6.0,2929.0,0,8.91,19.58,1,1,0,3,1,0,1
3498,17.0,9.0,565.0,2,6.75,10.89,1,0,0,0,1,1,1
3499,25.0,11.0,989903.0,6,4768.42,31.38,1,0,1,2,1,0,1

In [56]:
test_cust_id

0       fffe3400310033003300
1       fffe3600350035003400
2       fffe3700360030003500
3           fffe350038003600
4       fffe3500390032003500
                ...
3495    fffe3200300037003100
3496        fffe390031003100
3497    fffe3200350031003700
3498    fffe3100380031003000
3499    fffe3200340037003300
Name: Customer Id, Length: 3500, dtype: object